@import "tailwindcss";

:root {
  --background: #ffffff;
  --text-default: #2c2c31; 
  --text-prpl: #a753b6;
  --bg-prpl: #a753b6;
  --bg-blue: #3089b4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-sans);
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
  }
}

body {
  background: var(--background);
  font-family: var(--font-sans), system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
 font-weight: 300; 
}


h1, h2, h3, h4, h5, h6,
p, li, span, a, input, textarea, button {
  font-weight: 300; 
}

@layer utilities {
  .text-default {
    color: var(--text-default);
  }

  .text-prpl {
    color: var(--text-prpl);
  }
  .bg-prpl {
    background-color: var(--bg-prpl);
  }
  .bg-blue {
    background-color: var(--bg-blue);
  }
}

