@import "tailwindcss";

:root {
  --background: #ffffff;
  --button-text: #ffffff;
  --text-default: #212127; 
  --text-prpl: #8D4C98;
  --text-prpl-strong: #533785;
  --text-blue: #4A6398;
  --bg-prpl: #8D4C98;
  --bg-blue: #4A6398;
  --bg-green: #0a9688;
  --border-prpl: #8D4C98;
  --my-dark-blue: #e7e0e9;
  --text-green: #0a9688;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-sans);
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

@theme {
  --breakpoint-xs: 450px;
  --breakpoint-tablet: 880px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eef4fa;
  }
}

body {
  background: var(--background);
  font-family: var(--font-sans), -apple-system, BlinkMacSystemFont, "Nunito", sans-serif;
 font-weight: 300; 
}


h1, h2, h3, h4, h5, h6,
p, li, span, a, input, textarea, button {
  font-weight: 300; 

}

h1 {
  font-size: 2rem; 
  line-height: 2rem; 
}

h2 {
  font-size: 1.75rem; 
  line-height: 1.75rem; 
}

h3 {
  font-size: 1.25rem; 
  line-height: 1.25rem; 
}

p {
  font-size: 1rem; 
}

button {
  color: var(--button-text)
}

a {
  color: var(--text-blue)
}


.text-small {
  font-size: 0.875rem; 
  line-height: 0.875rem; 
}

.button-blue {
  background-color: #3089b4;     
  font-size: 1.125rem;             
  color: #ffffff;                   
  border-radius: 0.5rem;             
  transition: opacity 0.2s;         
}

.button-prpl {                                
  background-color: #a753b6;    
  font-size: 1.125rem;             
  color: #ffffff;                   
  border-radius: 0.5rem;             
  transition: opacity 0.2s;         
}

.button-blue:hover,
.button-prpl:hover {
  opacity: 0.8;                      
}


.button-more {
  background-color: #533282;   
  color: white;               
  padding: 0.5rem 1rem;                 
  cursor: pointer;             
  border-radius: 0.375rem;     
  display: inline-flex;        
  align-items: center;
  justify-content: center;
}

.button-more:hover {
  background: linear-gradient(to left, #533282, #3CA7B5); 
}

.button-active {
    background: #3CA7B5
}


.program-description h2 {
  margin-top: 15px;
  margin-bottom: 15px;
  color: var(--text-prpl)
}

.program-description h3 {
  margin-top: 15px;
  margin-bottom: 10px;
  color: var(--text-blue)
}

.program-description ul {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.bg-card {
  background: url("https://storage.yandexcloud.net/inozemstorage/main/cards/maincard.png");
  background-size: cover;
  background-position: center;
}


.program-description li {
  line-height: 1.6;
}

@media (min-width: 1024px) and (max-width: 1150px) {
  .md-custom-flex-col {
    flex-direction: column;
  }

  .md-custom-items-center {
    align-items: center;
  }
  .md-custom-text-center {
    text-align: center;
  }
}

@media (max-width: 768px) {
  h3 {
    font-size: 1.25rem; 
 
  }

   h2 {
    font-size: 1.5rem; 
        line-height: 1.25rem;
  }
}

@media (max-width: 450px) {
 
}


@layer utilities {
  .text-default {
    color: var(--text-default);
  }

  .text-prpl-strong {
    color: var(--text-prpl-strong);
  }

  .text-green {
    color: var(--text-green);
  }

  .text-prpl {
    color: var(--text-prpl);
  }
  .text-blue {
    color: var(--text-blue);
  }
  .bg-prpl {
    background-color: var(--bg-prpl);
  }
   .bg-green {
    background-color: var(--bg-green);
  }

  .border-prpl {
  border-width: 1px;
  border-color: var(--border-prpl);
}

.border-none {
   border: 1px dotted;
   border-color: var(--border-prpl-dotted);
}

  .hover\:bg-prpl:hover {
    background-color: var(--bg-prpl);
  }
  .bg-blue {
    background-color: var(--bg-blue);
  }
  .hover\:bg-blue:hover {
    background-color: var(--bg-blue);
  }

  @keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.animate-shimmer {
  background: linear-gradient(
    90deg,
    #e5e7eb 25%,
    #f3f4f6 50%,
    #e5e7eb 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}

    @keyframes wait {
    0% {
      transform: rotate(0deg)
    }
    
    50% {
      transform: rotate(180deg)
    }


    100% {
      transform: rotate(360deg)
    }
  }

  .animate-wait {
  animation: wait 2.5s ease-out infinite forwards;
}


  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(8px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

 .animate-fade-in {
  animation: fade-in 1s ease-out forwards;
}


.pulse-container {
    width: 250px;
    overflow: hidden;
    position: relative;
    top: 50%;
    left: 25%;
  }

  .pulse-line {
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: pulse-move 1.5s linear infinite;
    filter: drop-shadow(0 0 6px rgba(167, 83, 182, 0.4));
  }

  @keyframes pulse-move {
    to {
      stroke-dashoffset: 0;
    }
  }


  

}


