.slider-container {
  position: relative;
  width: 100%;
  max-width: 990px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.slider-wrapper {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-slide {
  min-width: 100%;
  user-select: none;
}

.slide-image {
  position: relative;
  width: 100%;
  height: 400px; 
}